        body {
           font-family: "Trirong", serif;
           margin: 100;
           padding: 0;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           height: 180vh;
           background-image: url("tall-leaves.png");
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center; /*background image still being a pain in the ass, come back to this */
       }

       h1 {
           color: #333;
           font-size: 30px; /* quote text */
           text-align: center;
           }

            .line {
            margin-bottom: 0in;
        }

       nav {
           text-align: center;
           background-color: rgba(255, 255, 255, 0.8); /* text box with links */
           padding: 20px;
           border-radius: 10px;
       }

       nav a {
           text-decoration: none;
           color: #333;
           margin: 10px;
           font-size: 20px; /*Link text size */
       }