 body {
            font-family: "Trirong", serif;
            background-image: url("marble-banner.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }

.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Set the height of your banner */
    background-repeat: no-repeat;
    background-image: url("top.png");
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    background-image: url("marble-banner.png"); /* Set the path to your overlay background image */
    background-size: auto;
    background-position: center;
    padding: 20px;
    color: #fff; /* Set text color to white for better visibility against the overlay background */
}

h1 {
    font-size: 30px;
    text-align: center;
}

.line {
    margin-bottom: 0in;
}

nav {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 10px;
    font-size: 20px;
}

#logout {
    background: #D8BFD8;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#logout:hover {
    background: #BC8F8F;
}
