:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}
/* https://www.w3schools.com/css */
/*
.background {
    background-color: #eaeded;
    margin: 0;
    counter-reset: section;
}
*/
body {
    background-image: url('src/css/tall-leaves.png'); /* Replace with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0; /* Remove default body margin */
    font-family: 'Trirong', sans-serif; /* Apply the Google Font to the entire body */
}

h1 {
    height: 100px; /* Adjust the height as needed */
    margin-top: 20px; /* Adjust the margin-top as needed */
    color: #fff; /* Set text color to white or the desired color for better visibility */
}

.custom-background {
    background-image: url("tall-leaves.png");
    background-repeat: no-repeat;
    background-size: 20px 40px;
}

.background {
    background-image: url("tall-leaves.png");
    background-repeat: no-repeat;
    background-size: 20px 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 33.33vh;
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}


.about {
    margin-left: 20px;
}

.button, button {
    background: #D8BFD8
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #BC8F8F
}

.card {
    color: var(--primary-color);
    background-color: rgba(234, 237, 237, 0); /* Fully transparent */
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
.form-field {
    margin-bottom: 15px;
}

input, label, button {
    margin-bottom: 10px;
}