        body {
            font-family: "Trirong", serif;
            background-image: url("marble-banner.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .profile-container {
            display: flex;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px 30px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .profile-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e7e7e7;
            padding: 10px 0;
        }

        .user-info {
            flex: 0 0 calc(50% - 10px); /* 50% width with 10px spacing in between */
            box-sizing: border-box;
            padding-right: 10px; /* Spacing between the two boxes */
        }

        .friend-list {
            overflow-y: auto; /* Enable vertical scrolling */
            flex: 1; /* Take remaining width */
            box-sizing: border-box;
            padding-left: 10px; /* Spacing between the two boxes */
        }

        .form-field {
            margin-bottom: 15px;
        }

        input, label, button, select {
            margin-bottom: 10px;
            width: 100%; /* Make inputs and selects fill the available width */
        }

        .navigation-links a {
            color: #3CB371;
            text-decoration: none;
            margin-right: 15px; /* link spacing */
        }

        .navigation-links a:hover {
            color: #2077b4;
        }